a.login-with-vipps-link {
  background-color: #ff5b24;
  color: #fff;
  text-decoration: none;
  padding: 12.5px 22px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
  font-weight: 800;
  transition: background-color .25s ease-out,color .25s ease-out,border-color .25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: sans-serif;
}

a.login-with-vipps-link:hover, a.login-with-vipps-link:visited, a.login-with-vipps-link:active, a.login-with-vipps-link:link {
  color: #fff;
  text-decoration: none;
}

.vipps-button-group {
  margin-top: 2rem;
  margin-bottom: 1.5em;
}
